/* set */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
  background: #2c2f33;
}

*::-webkit-scrollbar-thumb {
  background-color: #1f2022;
  border-radius: 20px;
  border: 3px solid #2c2f33;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height : 100%
}

/* background */

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #E45A84;
    top: 30%;
    left: 79%;
    animation-duration: 42s;
    animation-delay: -44s;
    transform-origin: -24vw -18vh;
    box-shadow: 40vmin 0 5.335408741679282vmin currentColor;
}
.background span:nth-child(1) {
    color: #583C87;
    top: 98%;
    left: 20%;
    animation-duration: 51s;
    animation-delay: -43s;
    transform-origin: -7vw 7vh;
    box-shadow: 40vmin 0 5.604040554837227vmin currentColor;
}
.background span:nth-child(2) {
    color: #FFACAC;
    top: 30%;
    left: 70%;
    animation-duration: 43s;
    animation-delay: -21s;
    transform-origin: -7vw -17vh;
    box-shadow: -40vmin 0 5.487643720379925vmin currentColor;
}
.background span:nth-child(3) {
    color: #FFACAC;
    top: 87%;
    left: 15%;
    animation-duration: 12s;
    animation-delay: -26s;
    transform-origin: -14vw 19vh;
    box-shadow: 40vmin 0 5.147341345801123vmin currentColor;
}
.background span:nth-child(4) {
    color: #FFACAC;
    top: 74%;
    left: 22%;
    animation-duration: 49s;
    animation-delay: -33s;
    transform-origin: 2vw -19vh;
    box-shadow: 40vmin 0 5.677402406192488vmin currentColor;
}
.background span:nth-child(5) {
    color: #E45A84;
    top: 29%;
    left: 79%;
    animation-duration: 45s;
    animation-delay: -24s;
    transform-origin: -24vw 0vh;
    box-shadow: 40vmin 0 5.041423972215736vmin currentColor;
}
.background span:nth-child(6) {
    color: #FFACAC;
    top: 74%;
    left: 46%;
    animation-duration: 23s;
    animation-delay: -33s;
    transform-origin: 7vw -20vh;
    box-shadow: 40vmin 0 5.344945648511461vmin currentColor;
}
.background span:nth-child(7) {
    color: #FFACAC;
    top: 75%;
    left: 90%;
    animation-duration: 40s;
    animation-delay: -39s;
    transform-origin: 11vw -17vh;
    box-shadow: 40vmin 0 5.181816541997721vmin currentColor;
}
.background span:nth-child(8) {
    color: #E45A84;
    top: 48%;
    left: 85%;
    animation-duration: 10s;
    animation-delay: -45s;
    transform-origin: 20vw 7vh;
    box-shadow: 40vmin 0 5.878345206988561vmin currentColor;
}
.background span:nth-child(9) {
    color: #FFACAC;
    top: 18%;
    left: 52%;
    animation-duration: 22s;
    animation-delay: -32s;
    transform-origin: -8vw 2vh;
    box-shadow: -40vmin 0 5.921005755233705vmin currentColor;
}
.background span:nth-child(10) {
    color: #FFACAC;
    top: 56%;
    left: 75%;
    animation-duration: 23s;
    animation-delay: -18s;
    transform-origin: 5vw 1vh;
    box-shadow: -40vmin 0 5.7537970343658795vmin currentColor;
}
.background span:nth-child(11) {
    color: #583C87;
    top: 64%;
    left: 26%;
    animation-duration: 43s;
    animation-delay: -44s;
    transform-origin: -8vw 13vh;
    box-shadow: 40vmin 0 5.4590177396645085vmin currentColor;
}
.background span:nth-child(12) {
    color: #FFACAC;
    top: 78%;
    left: 40%;
    animation-duration: 33s;
    animation-delay: -24s;
    transform-origin: 12vw 16vh;
    box-shadow: 40vmin 0 5.683545918207567vmin currentColor;
}
.background span:nth-child(13) {
    color: #E45A84;
    top: 100%;
    left: 32%;
    animation-duration: 14s;
    animation-delay: -34s;
    transform-origin: -10vw 11vh;
    box-shadow: -40vmin 0 5.959786657448688vmin currentColor;
}
.background span:nth-child(14) {
    color: #FFACAC;
    top: 6%;
    left: 33%;
    animation-duration: 47s;
    animation-delay: -38s;
    transform-origin: 8vw 12vh;
    box-shadow: -40vmin 0 5.9869340516101754vmin currentColor;
}
.background span:nth-child(15) {
    color: #583C87;
    top: 40%;
    left: 97%;
    animation-duration: 17s;
    animation-delay: -50s;
    transform-origin: -17vw -1vh;
    box-shadow: 40vmin 0 5.020991725246403vmin currentColor;
}
.background span:nth-child(16) {
    color: #583C87;
    top: 24%;
    left: 11%;
    animation-duration: 23s;
    animation-delay: -18s;
    transform-origin: -3vw 6vh;
    box-shadow: -40vmin 0 5.784944798802511vmin currentColor;
}
.background span:nth-child(17) {
    color: #E45A84;
    top: 81%;
    left: 17%;
    animation-duration: 34s;
    animation-delay: -49s;
    transform-origin: 19vw -3vh;
    box-shadow: -40vmin 0 5.81733492069885vmin currentColor;
}
.background span:nth-child(18) {
    color: #FFACAC;
    top: 82%;
    left: 77%;
    animation-duration: 43s;
    animation-delay: -49s;
    transform-origin: -9vw 10vh;
    box-shadow: -40vmin 0 5.004890799194788vmin currentColor;
}
.background span:nth-child(19) {
    color: #E45A84;
    top: 38%;
    left: 58%;
    animation-duration: 36s;
    animation-delay: -43s;
    transform-origin: -11vw 6vh;
    box-shadow: 40vmin 0 5.056683876724789vmin currentColor;
}


/* Navigation */

.blour-backgroud {
    position: fixed;
    margin: 0px auto;
    background: rgba(44, 62, 80, 0.6);
    padding: 22px 0px;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid rgb(228, 90, 132, 0.6);
}

.navbar {
    position: relative;
    text-align: center;
}

.navbar li {
    display: inline;
}

.nav-style li:nth-child(1) {
    margin-right: 30px;
}
.nav-style li:nth-child(2) {
    margin-right: 30px;
}
.nav-style li:nth-child(3) {
    margin-right: 30px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

header a:hover{
    color: #E45A84;
}

.page {
    position: relative;
}

.logo img {
    text-align: center;
    margin: auto;
    display: flex;
    width: 20vh;
    padding: 15vh 0 5vh 0;
}

.description {
    text-align: center;
    color: white;
}

.description h1 {
    font-size: 55px;
}

.description h2 {
    font-size: 35px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    padding: 23vh 16vh 0 16vh;
}

.pb-15 {
    padding-bottom: 15vh
}

.text {
    font-size: 22px;
}

.linear-gradient {
    background-image: linear-gradient(-45deg,#f7b500,#b620e0,#32c5ff);
}

.text-fill-transparent {
    -webkit-text-fill-color: transparent;
}

.bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text;
}

.about-txt {
    color: white;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.about-txt h3 {
    color: white;
    font-size: 35px;
    padding-bottom: 20px;
}

.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.about-img {
    text-align: center;
}

.reseaux {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    vertical-align: middle;
}

.width {
    width: 30px;
    vertical-align: middle;
}

.border {
    border-radius: 999999px;
}

.p-5 {
    padding: 5px
}

.discord {
    background-color: #5865F2;
}

.github {
    background-color: black;
}

.title {
    text-align: center;
    color: white;
    font-size: 35px;
}

.projects {
    padding: 70px 5vh 0 5vh;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 3.5rem;
}

.font {
    width: 500px;
    background-color: #2c2f33;
    padding: 30px 30px 20px 30px;
    border-radius: 15px;
}

.justify-left {
    justify-self: left;
}

.justify-right {
    justify-self: right;
}

.presentation {
    display: flex;
    flex-direction: row;
}

.logo-project img {
    width: 50px;
    border-radius: 10px;
    vertical-align: middle;
}

.desc {
    padding-left: 15px;
}

.desc h4 {
    font-size: 35px;
    padding-bottom: 10px;
}

.desc p {
    color: white;
    font-size: 15px;
    padding-bottom: 15px;
}

.languages {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.languages img {
    vertical-align: middle;
    width: 50px;
    padding-right: 15px;
}

.pb-68 {
    padding-bottom: 68px;
}

.pb-50 {
    padding-bottom: 50px;
}

.link {
    text-decoration: none;
    color: #5865f2;
}

.link:hover {
    color: white;
}

.skills-font {
    margin: 0 10% 0 10%;
    background-color: #2c2f33;
    padding: 30px 30px 20px 30px;
    border-radius: 15px;
    margin-bottom: 60px;
}

.pb-5 {
    padding-bottom: 5vh;
}

.pt-10 {
    padding-top: 10vh;
}

.prog {
    font-size: 35px;
    text-align: center;
    padding-bottom: 30px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.icon {
    text-align: center;
}

.icon h4 {
    color: white;
    font-size: 22px;
}

.icon img {
    width: 65px;
    padding-top: 30px;
}

#skills {
    padding-bottom: 5vh;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 20% 5vh 20%;
    background: linear-gradient(-45deg, #5865F2, #32c5ff);
    padding: 40px 0 40px 0;
    border-radius: 30px;
}

.contact h3 {
    color: white;
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 32px;
}

.pb-20 {
    padding-bottom: 20px;
}

.contact button {
    margin: 0 40% 0 40%;
    border: none;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    background-color: #e6e5e9;
}

.contact a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

footer {
    font-size: 18px;
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

/* navbar to phone*/

.hamburger {
    display: none;
}

.hamburger ul {
    list-style: none;
    padding-top: 15px;
}

.hamburger-menu li {
    text-align: left;
    padding-left: 6px;
}

.hamburger-menu a {
    font-size: 22px;
}

.hamburger-button {
    cursor: pointer;
}

.hamburger-button div {
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin: 6px 6px;
    transition-duration: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
    transition-duration: 300ms;
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
    transition-duration: 300ms;
}

.hamburger-menu {
    display: none;
}

.open .hamburger-menu {
    display: block;
}

/* phone */

@media screen and (max-width: 1200px) {

    .grid {
        /* transform grid to --> flex */
        display: flex;
        flex-direction: column;
        padding: 15vh 16vh 0 16vh;
    }

    .about-img {
        padding-top: 60px;
    }

    .about-txt {
        text-align: center;
    }

    #projects {
        padding-top: 100px;
    }

}

@media screen and (max-width: 1100px) {

    .projects {
        grid-template-columns: none;
    }

    .justify-left, .justify-right {
        justify-self: center;
    }

    .pb-68 {
        /* transform pb-68 to --> pb-15 */
        padding-bottom: 15px;
    }

    /* same to pb-50 */
    .pb-50 {
        padding-bottom: 15px;
    }

    .pb-15 {
        /* transform pb-15 to --> pb-12 */
        padding-bottom: 12vh;
    }

    .pt-10 {
        /* transform pt-10 to --> pt-2 */
        padding-top: 2vh;
    }

}

@media screen and (max-width: 1000px) {

    .icon img {
        width: 100%;
        max-width: 50px;
        height: auto;
    }

    .contact {
        margin: 0 10% 5vh 10%;
    }

}

@media screen and (max-width: 768px) {

    .navbar {
        display: none;
    }

    .hamburger {
        display: block;
    }

}

@media screen and (max-width: 700px) {

    .icon img {
        padding-top: 15px;
        width: 30px;
    }

    .icon h4 {
        font-size: 15px;
    }

    .contact h3 {
        font-size: 20px;
    }

    .contact p {
        font-size: 20px;
    }

    .contact button {
        margin: 0 35% 0 35%;
        padding: 6px 0 6px 0;
    }

}

@media screen and (max-width: 650px) {

    .phone-pb {
        padding: 15vh 10vh 0 10vh;
    }

}

@media screen and (max-width: 580px) {

    .font {
        width: auto;
    }

    .languages img {
        width: 100%;
        max-width: 50px;
        height: auto;
    }

    .languages {
        flex-wrap: wrap;
        row-gap: 1rem;
        justify-content: center;
    }

    .text p {
        font-size: 15px;
    }

    .responsive {
        width: 100%;
        max-width: 200px;
        height: auto;
    }

    .about-img {
        padding-top: 30px;
    }

}

@media screen and (max-width: 450px) {

    .phone-pb {
        padding: 15vh 5vh 0 5vh;
    }

    .contact button {
        margin: 0 30% 0 30%;
        padding: 6px 0 6px 0;
    }

    .contact a {
        font-size: 15px;
    }

    footer p {
        font-size: 12px;
    }

}

/* animations */

.hover {
    transition: transform 300ms;
}

.hover:hover {
    transform: translateY(-25%);
    transition-duration: 200ms;
}

.hover-projects {
    transition: transform 300ms;
}

.hover-projects:hover {
    transform: translateY(-15%);
    transition-duration: 200ms;
}

.hover-contact {
    transition: transform 300ms;
}

.hover-contact:hover {
    transform: translateY(-9%);
    transition-duration: 200ms;
}

.skills-font:hover {
    background: linear-gradient(-45deg,#f7b500,#b620e0,#32c5ff);
}

.contact button:hover {
    background-color: white;
}